.dimmed-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(rgb(0, 0, 0), 0.8);
  z-index: 9999;
}

.order-type-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 32px 40px;
  // 왼상단-오상단-오하단-왼하단
  border-radius: 16px 16px 0 0;
  background-color: rgb(255, 255, 255);
  text-align: center;
  z-index: 10000;

  .title {
    font-size: 20px;
    font-weight: 700;
    color: $booking-color-text1;
  }

  .type-list {
    display: flex;
    margin-top: 32px;
  }

  .type-item {
    flex: 1;
    // 형제로 type-item이 온다면
    & + .type-item {
      border-left: 1px solid $booking-color-border103;
    }
  }

  .icon {
    width: 100px;
    height: auto;
    color: $booking-color-bg118;
  }

  .desc {
    margin-top: 8px;
    font-size: 15px;
    // line-height에 단위가 없으면 내가 가지고 있는 font-size에 비례
    line-height: 1.5;
    font-weight: 600;
    color: $booking-color-text1;
  }

  .btn-selection {
    // span은 inline요소라 top,bottom 패딩x => block으로 변환
    display: inline-block;
    margin-top: 10px;
    padding: 6px 18px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 28px;
    background-color: $booking-color-bg189;
    color: #fff;
  }
}
